In [16]:
# importing required modules
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [9]:
# consume and prepare the data by taking data for asia and africa in 2021.
df=pd.read_csv(r"C:\Users\Hany\OneDrive\Ø³Ø·Ø­ Ø§Ù„Ù…ÙƒØªØ¨\owid-covid-data 1.csv")
df

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_tests,new_tests,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,population
0,Asia,Afghanistan,2020,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41128772
1,Asia,Afghanistan,2020,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41128772
2,Asia,Afghanistan,2020,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41128772
3,Asia,Afghanistan,2020,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41128772
4,Asia,Afghanistan,2020,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41128772
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293800,Africa,Zimbabwe,2023,264127.0,0.0,5668.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16320539
293801,Africa,Zimbabwe,2023,264127.0,0.0,5668.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16320539
293802,Africa,Zimbabwe,2023,264127.0,0.0,5668.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16320539
293803,Africa,Zimbabwe,2023,264127.0,0.0,5668.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16320539
293804,Africa,Zimbabwe,2023,264127.0,0.0,5668.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16320539

In [18]:
countries_2021=df[df.date==2021]
total=countries_2021.total_cases.sum()
new=countries_2021.new_cases.sum()
total_d= countries_2021.total_deaths.sum()
new_d= countries_2021.new_deaths.sum()
population= countries_2021.population.sum()

In [19]:
Asia=countries_2021[countries_2021.continent=='Asia']
total_Asia=Asia.total_cases.max()
new_Asia=Asia.new_cases.sum()
total_d_Asia= Asia.total_deaths.max()
new_d_Asia= Asia.new_deaths.sum()
population_asia= Asia.population.max()

In [20]:
Africa=countries_2021[countries_2021.continent=='Africa']
total_Africa=Africa.total_cases.max()
new_Africa=Africa.new_cases.sum()
total_d_Africa= Africa.total_deaths.max()
new_d_Africa= Africa.new_deaths.sum()
population_Africa= Africa.population.max()

In [22]:
print("total cases in Asia =" ,total_Asia)
print("new cases in Asia =" ,new_Asia)
print("total death in Asia =" ,total_d_Asia)
print("new death in Asia =" ,new_d_Asia)
print("count of population  in Asia =" ,population_asia)

total cases in Asia = 34838804.0
new cases in Asia = 64154701.0
total death in Asia = 481080.0
new death in Asia = 920940.0
count of population  in Asia = 1425887360

In [23]:
print("total cases in Africa =" ,total_Africa)
print("new cases in Africa =" ,new_Africa)
print("total death in Africa =" ,total_d_Africa)
print("new death in Africa =" ,new_d_Africa)
print("count of population  in Africa =" ,population_Africa)

total cases in Africa = 3446532.0
new cases in Africa = 7103297.0
total death in Africa = 91061.0
new death in Africa = 163826.0
count of population  in Africa = 218541216